[submodule "hardware/SF32u4_boards"]
	path = hardware/SF32u4_boards
	url = git@github.com:sparkfun/SF32u4_boards.git
[submodule "libraries/SharpIR"]
	path = libraries/SharpIR
	url = git@github.com:guillaume-rico/SharpIR.git
[submodule "Arduino-Makefile"]
	path = Arduino-Makefile
	url = https://github.com/sudar/Arduino-Makefile.git
